
body{
     background-color:#aaa;
    }

.upper_div{
         background-color:#775500;
         border-top-left-radius:20px 10px;
         border-top-right-radius:20px 10px;
         padding:2px;
        }

.lower_div{
           background-color:#efefef;
           border-bottom-left-radius:20px 10px;
           border-bottom-right-radius:20px 10px;
           padding:0 20px;
           box-sizing: border-box;
          }

.npt{
     border: 1px solid #775500;
     border-radius:5px;
     width:auto;
     padding:5px;
    }

.btn{
     background-color:#775500;
     border-radius:5px;
     padding:10px;
     text-align:"center";
    }
.date{
      color:#775500;
     }

form {
      border:none;
      padding:5px;
     }

.outmost-container{
                   box-sizing:border-box;
                   background-color:#aaa;
                   margin:5px 40% 5px 40%;
                  }

.imgcontainer {
               text-align: center;
               margin: 24px 0 12px 0;
              }

img.avatar {
            width: 40%;
            border-radius: 50%;
           }

h1.icon{
        font-family:Forte;
        color:#775500;
       }

input[type=text]:focus, 
input[type=password]:focus{
                           background-color:#775500;
                           outline: none;
                          }

fieldset{
         border: 1px solid #775500;
         padding:10px;
        }
hr{
   border:0.5px solid #775500;
  }

#delete_btn, #down_vote{
                        background-color:#a00;
                       }
#textarea1{
           width:50%; 
           height:50%;
          }

#dropdown{
          width:20%
         }

#cont-comment{
              width:60%;
             }

#votebtn{
         margin:0 10% 0 2%;
        }


.navbar {
         overflow:hidden;
         background-color:#775500;
        }

.menu-div {
           float:left;
           overflow:hidden;
           padding: 2px 20px 2px 87.5%;
          }

.menu-div .menu-btn {
                     font-size: 16px;  
                     border:1px solid #efefef;
                     padding:2px;
                     margin: 0;
                     background-color:#775500;
                     border-radius:5px;
                     position:right;
                     font-family:"inherited";
                    }

.menu-btn {
           padding: 14px 16px;
          }

.menu-items {
             display:none;
             position:absolute;
             background-color:#775500;
             min-width:160px;
             box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
             z-index:1;
            }

.menu-items a {
               float: none;
               color: "black";
               padding: 12px 16px;
               text-decoration: none;
               display: block;
               text-align: left;
              }

.menu-items a:hover {
                     background-color:#ddd;
                    }

.menu-btn:hover {
                 background-color:#ddd;
                }

.menu-div:hover .menu-items {
                             display:block;
                            }
